<h1>Editing high_score</h1>

<% form_for(@high_score) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :game %><br />
    <%= f.text_field :game %>
  </p>
  <p>
    <%= f.label :score %><br />
    <%= f.text_field :score %>
  </p>
  <p>
    <%= f.label :playerName %><br />
    <%= f.text_field :playerName %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @high_score %> |
<%= link_to 'Back', high_scores_path %>