<h1>Listing high_scores</h1>

<table border="1">
  <tr>
    <th>Game</th>
    <th>Score</th>
    <th>Playername</th>
    <th colspan="3">Actions</th>
  </tr>

<% @high_scores.each do |high_score| %>
  <tr>
    <td><%=h high_score.game %></td>
    <td><%=h high_score.score %></td>
    <td><%=h high_score.playerName %></td>
    <td><%= link_to 'Show', high_score %></td>
    <td><%= link_to 'Edit', edit_high_score_path(high_score) %></td>
    <td><%= link_to 'Destroy', high_score, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New high_score', new_high_score_path %>